/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

/wa-server-js/node_modules
/wa-server-js/auth
/wa-server-js/.env
/wa-server-js/*.log
/.fleet
/.idea
/.vscode

# Test files
test_*.php
diagnose.php
verify_*.php
check_*.php

# Logs
/storage/logs/*.log
*.log
